

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,
body {
    font-size: 15px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.btn.extra-width {
    padding: 13px 40px;
}
.btn:focus,
.btn:active {
    outline: inherit;
}
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*    direction: rtl;*/
}
p {
    margin: 0 0 15px;
}
.clear {
    clear: both;
}
/*ol,
ul {
    list-style: none;
    padding: 0;
}*/

ul {
    list-style: none;
    padding: 0;
}

img {
    max-width: 100%;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    outline: none;
}
.form-control {
    border: 1px solid rgba(0, 0, 0, 0.08);
    font-size: 16px;
    height: 45px;
}
.form-control:focus {
    border-color: #82ca9c;
}

h1,
h2,
h3 {

    font-weight: 300;
    margin: 0;
}
h4,
h5 {
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
}
h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    margin-bottom: .9rem;
}
h3 {
    font-weight: 300;
    margin-bottom: .9rem;
    font-size: 2.1rem;
    line-height: 2.5rem;
}
h4 {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 1.1rem;
}
h5 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
h6 {
    font-size: 1rem;
    margin-bottom: .9rem;
}
p {
    line-height: 1.5rem;
    font-size: 1.1rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
}
.text {
    color: #333333;
}
.colorstext {
    color: #f56363;
}
.coloricon i {
    color: #f56363;
}
.colorsbg {
    background: #f56363;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}
.transition {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
/*
Section
*/
.sections {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
}
.sections2 {
    padding-top:40px;
    padding-bottom:40px;
    position: relative;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
}
.parallax-section {
    max-width: 100%;
    color: #ffffff;
}
section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 12px;
}


.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    min-height: 750px;
}
.overlay-fluid-block {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
}
.home-overlay-fluid {
    background-color: rgba(41, 41, 41, 0.68);
    width: 80%;
    margin: auto;
}
.overlay-img {
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    color: #ffffff;
}
.no-padding {
    padding: 0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 2px;
    width: 80px;
    margin: auto;
    background: #ededed;
}

/*
Button
*/
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary.focus,
.btn-primary:focus,
.btn-primary.disabled{
    color: #ffffff;
    background-color:#64c583;
    border-color: #f56363;
}
.btn-primary:hover {
    background-color:#64c583;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.728571;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
    width: 200px;
    height: 50px;
    padding: 1em;
}

.btn-default {
    border-radius: 0px;
    background: #82ca9c;
    color: #ededed;
    border: 0;
    padding: 12px 15px;
    max-width:160px;
    margin-top: 20px;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: rgba(0, 173, 62, 0.75);
    border-color:transparent;
}


.input-lg, .form-group-lg .form-control {
    height: 46px;
    width: 100%;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius:0;
}
.btn-lg, .btn-group-lg>.btn {
    font-size: 18px;
    line-height: 26px;
    border-radius:0;
    background: #82ca9c;
    border: 0;
    padding: 10px 25px;
}
.input-group button a i{
    color:#fff;
}


/*
Extra height css
*/
.margin-top-20 {
    margin-top: 20px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-top-40 {
    margin-top: 40px;
}
.margin-bottom-40 {
    margin-bottom: 40px;
}
.margin-top-60 {
    margin-top: 60px;
}
.margin-80 {
    margin-top: 80px;
    margin-bottom: 80px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-bottom-80 {
    margin-bottom: 80px;
}
.padding-top-20 {
    padding-top: 1.33rem;
}
.padding-bottom-20 {
    padding-bottom: 1.33rem;
}
.padding-top-40 {
    padding-top: 2.66rem;
}
.padding-bottom-40 {
    padding-bottom: 2.66rem;
}
.padding-top-60 {
    padding-top: 5rem;
}
.padding-bottom-60 {
    padding-bottom: 5rem;
}
.padding-bottom-0 {
    padding-bottom: 0;
}
/*padding*/
.padding-twenty {
    padding: 10px 0;
}
.padding-fourty {
    padding: 20px 0;
}
.padding-sixty {
    padding: 30px 0;
}
.padding-eighty {
    padding: 40px 0;
}
h1 span {
    color: #f56363;
    font-weight: 400;
}

/*for placeholder changes*/

input::-webkit-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
input::-moz-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
input:-ms-input-placeholder {
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
textarea::-webkit-input-placeholder
{
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;

}
textarea::-moz-input-placeholder
{
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}
textarea::-ms-input-placeholder
{
    color: #CACACA;
    font-size: 12px;
    padding-top:2px;
}


/*for image bg*/


/*.img-bg{
  background: url(../images/home-msg.jpg) no-repeat center top fixed;
   background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  overflow: hidden;
}*/

/*For Our Global CSS*/
.heading-content h1{
    font-size:48px;
    margin-bottom:40px;
}

/* For Social Wrapper */
.social{
    background:#000;
    padding:10px 0;
}
.social-wrapper .social-icon a{
    float:left;
    font-size:13px;
    color:#fff;
}
.social-wrapper .social-icon a:hover{
    color:#82ca9c;
}
.social-wrapper .social-icon a i{
    padding-right:10px;
}
.social-wrapper .social-contact{
    float:right;
    font-size:13px;
}
.social-wrapper .social-contact a{
    color:#fff;
    margin-right:20px;
}
.social-wrapper .social-contact a:hover{
    color:#82ca9c;
}
.social-wrapper .social-contact a i{
    padding-right:5px;
}

/*For Menu Style*/
.navbar-default {
    background-color: transparent;
    border-color: transparent;
    border-radius:0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #82ca9c;
    background-color:transparent;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size:14px;
    font-weight:600;
    text-transform:uppercase;
}
.navbar-default .navbar-nav li a :hover{
    color: #82ca9c;
}
.navbar-default .collapse .login a{
    color: #82ca9c;
    border: 1px solid #82ca9c;
    border-radius: 20px;
    padding: 4px 30px;
    font-size: 12px;
    margin-top: 10px;
    margin-left: 30px;
    display:inline-block;
    overflow:hidden;
}
.navbar-default .collapse .login:hover a{
    background-color: rgba(0, 173, 62, 0.75);
    color:#fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #82ca9c;
    background-color: transparent;
}
.navbar-logo{
    max-height: 70px;	
}

#video-background {
    /*  making the video fullscreen  */
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -100;
}


/*For Home Section*/
.home{
    background: url(../images/bg.png) no-repeat center center;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
}
.home-wrapper{
    padding:150px 0px;
    overflow:hidden;
}
.home-content{
    margin-top: 50px;
}
.home-content h1{
    font-size:3rem !important;
    font-weight:700;
    margin-bottom: 30px;
}
.home-content p{
    margin-bottom: 30px;
    font-size: 1.8rem !important;
    line-height: 1;
}
.home-content .home-contact{
    margin-top: 90px;
}

.home-contact .input-group{display: block;}
.home-content .input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 65%;
    margin-bottom: 0;
    height: 60px;

}
.home-content .home-contact input[type="text"]{
    color:#82ca9c;
}
.home-content .home-contact input[type="submit"]{
    display:inline-block;
    width:35%;
    background:#82ca9c;
    color:#fff;
    border: 0px;
}
.home-content .home-contact input[type="submit"]:hover{
    background-color: rgba(0, 173, 62, 0.75);
}
.home-contact p{
    margin-top: 20px;
    color:#000;
    font-size:15px;
}
.form-control {
    border: 1px solid #DEDEDE;
    height:45px;
    border-radius: 0px;
    margin-right: -3px;
}
.head_title {
    margin-bottom: 20px;
}
.head_title p {
    max-width: 55%;
    margin: 10px auto;
    padding-bottom: 20px;
}

.contact-line i{
    display: inline-block;
    margin-right: 5px;
}
.contact-line p{
    display: inline-block;
    padding-bottom: 0px !important;
    margin: 2px auto !important;
}
.spacer{
    padding-right: 25px;
}

.wider{
    max-width: 70% !important;
    padding-bottom: 0px !important;
}

/* product  section */

.single_product_left img{
    height:460px;
}
.single_product_right {
    margin-top:7%;
}

.single_product_right h2 {
    margin-bottom: 40px;
    font-size:40px;
    color:#222222;
}

.single_product_right p{
    font-size:18px;
}
.single_product_right ul li{
    font-size:18px;
    margin-top:3%;
}
.margin-bottom-40{
    margin-bottom: 40px;
}
.feature-img{
    max-width: 50%;
    margin-bottom: 25px;
}
.feature-icon-img{
    max-height: 75px;
    width: auto;
}
.feature-icon{
    margin-bottom: 25px;
    color: black;
}
.feature-text{
    max-width: 90%;
    margin: auto;
}
.feature-text h4{
    margin-bottom: 0.75rem !important;
}

/* gallery Section */
.port_img{
    position: relative;
    overflow: hidden;
}

.port_img img{
    width:100%;
}
.port_overlay{
    width:100%;
    height:100%;
    background-color: rgba(0,168,133,0.60);
    position: absolute;
    left:0;
    top:0;
    padding-top: 50%;
    opacity: 0;
    transition: all 0.2s;
}
.port_overlay a{
    width:40px;
    height:40px;
    line-height: 40px;
    margin: 0 auto;
    color:#fff;
    border:1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    font-size:2rem;
    bottom: -150px;
    position: relative;
    margin-top:-20px;
}
.port_img:hover .port_overlay a{
    bottom:0;
}
.port_img:hover .port_overlay{
    opacity: 1;
}
.vertical-carousel-ctrl{
    padding-top: 25px;
}

.vertical-carousel-ctrl p{
    margin: 0 !important
}

.vertical-carousel-ctrl a i{
    color: #ddd;
    font-size:3rem;
    margin-top: -10px;
}
.carousel-control.left{
    left:-4%;
}
.carousel-control.right {
    right:-4%;
}

.carousel-control{
    background-image: none !important;
    color:#ddd;
    width:50px;
    height: 50px;
    line-height: 50px;
    font-size:3rem;
    text-align: center;
    top:30%;
}


/*Price Section was here*/

/* -------------------------------- 

xkeyframes 

-------------------------------- */
@-webkit-keyframes cd-rotate {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
    70% {
        /* this creates the bounce effect */
        -webkit-transform: perspective(2000px) rotateY(200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
    }
}
@-moz-keyframes cd-rotate {
    0% {
        -moz-transform: perspective(2000px) rotateY(0);
    }
    70% {
        /* this creates the bounce effect */
        -moz-transform: perspective(2000px) rotateY(200deg);
    }
    100% {
        -moz-transform: perspective(2000px) rotateY(180deg);
    }
}
@keyframes cd-rotate {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
        -moz-transform: perspective(2000px) rotateY(0);
        -ms-transform: perspective(2000px) rotateY(0);
        -o-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
    70% {
        /* this creates the bounce effect */
        -webkit-transform: perspective(2000px) rotateY(200deg);
        -moz-transform: perspective(2000px) rotateY(200deg);
        -ms-transform: perspective(2000px) rotateY(200deg);
        -o-transform: perspective(2000px) rotateY(200deg);
        transform: perspective(2000px) rotateY(200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
        -moz-transform: perspective(2000px) rotateY(180deg);
        -ms-transform: perspective(2000px) rotateY(180deg);
        -o-transform: perspective(2000px) rotateY(180deg);
        transform: perspective(2000px) rotateY(180deg);
    }
}
@-webkit-keyframes cd-rotate-inverse {
    0% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
        /* this creates the bounce effect */
        -webkit-transform: perspective(2000px) rotateY(20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
}
@-moz-keyframes cd-rotate-inverse {
    0% {
        -moz-transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
        /* this creates the bounce effect */
        -moz-transform: perspective(2000px) rotateY(20deg);
    }
    100% {
        -moz-transform: perspective(2000px) rotateY(0);
    }
}
@keyframes cd-rotate-inverse {
    0% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
        -moz-transform: perspective(2000px) rotateY(-180deg);
        -ms-transform: perspective(2000px) rotateY(-180deg);
        -o-transform: perspective(2000px) rotateY(-180deg);
        transform: perspective(2000px) rotateY(-180deg);
    }
    70% {
        /* this creates the bounce effect */
        -webkit-transform: perspective(2000px) rotateY(20deg);
        -moz-transform: perspective(2000px) rotateY(20deg);
        -ms-transform: perspective(2000px) rotateY(20deg);
        -o-transform: perspective(2000px) rotateY(20deg);
        transform: perspective(2000px) rotateY(20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
        -moz-transform: perspective(2000px) rotateY(0);
        -ms-transform: perspective(2000px) rotateY(0);
        -o-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
}
@-webkit-keyframes cd-rotate-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
    70% {
        /* this creates the bounce effect */
        -webkit-transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
    }
}
@-moz-keyframes cd-rotate-back {
    0% {
        -moz-transform: perspective(2000px) rotateY(0);
    }
    70% {
        /* this creates the bounce effect */
        -moz-transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
        -moz-transform: perspective(2000px) rotateY(-180deg);
    }
}
@keyframes cd-rotate-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(0);
        -moz-transform: perspective(2000px) rotateY(0);
        -ms-transform: perspective(2000px) rotateY(0);
        -o-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
    70% {
        /* this creates the bounce effect */
        -webkit-transform: perspective(2000px) rotateY(-200deg);
        -moz-transform: perspective(2000px) rotateY(-200deg);
        -ms-transform: perspective(2000px) rotateY(-200deg);
        -o-transform: perspective(2000px) rotateY(-200deg);
        transform: perspective(2000px) rotateY(-200deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(-180deg);
        -moz-transform: perspective(2000px) rotateY(-180deg);
        -ms-transform: perspective(2000px) rotateY(-180deg);
        -o-transform: perspective(2000px) rotateY(-180deg);
        transform: perspective(2000px) rotateY(-180deg);
    }
}
@-webkit-keyframes cd-rotate-inverse-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
    }
    70% {
        /* this creates the bounce effect */
        -webkit-transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
    }
}
@-moz-keyframes cd-rotate-inverse-back {
    0% {
        -moz-transform: perspective(2000px) rotateY(180deg);
    }
    70% {
        /* this creates the bounce effect */
        -moz-transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
        -moz-transform: perspective(2000px) rotateY(0);
    }
}
@keyframes cd-rotate-inverse-back {
    0% {
        -webkit-transform: perspective(2000px) rotateY(180deg);
        -moz-transform: perspective(2000px) rotateY(180deg);
        -ms-transform: perspective(2000px) rotateY(180deg);
        -o-transform: perspective(2000px) rotateY(180deg);
        transform: perspective(2000px) rotateY(180deg);
    }
    70% {
        /* this creates the bounce effect */
        -webkit-transform: perspective(2000px) rotateY(-20deg);
        -moz-transform: perspective(2000px) rotateY(-20deg);
        -ms-transform: perspective(2000px) rotateY(-20deg);
        -o-transform: perspective(2000px) rotateY(-20deg);
        transform: perspective(2000px) rotateY(-20deg);
    }
    100% {
        -webkit-transform: perspective(2000px) rotateY(0);
        -moz-transform: perspective(2000px) rotateY(0);
        -ms-transform: perspective(2000px) rotateY(0);
        -o-transform: perspective(2000px) rotateY(0);
        transform: perspective(2000px) rotateY(0);
    }
}


.fa-check-circle{
    color:#82ca9c;
}
.fa-remove{
    color:red;
}

/*For team Section*/
.team{
    width: 100%;
    overflow: hidden;
}

.team-content{
    height: 370px;
}

.team-content p{
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 1;
}

.team-card{
    background:#fff;
    height:370px;
    padding:20px 15px;
    border:1px solid #ececec;
    box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -webkit-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -moz-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -o-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -ms-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
}
.team-card p {
    margin-bottom: 12px !important;
}
/*
.team-card:hover{
    background:#82ca9c;
    color:#fff;
}
.team-card:hover i {
    color:#fff;
}
.team-card:hover h4 {
    color:#fff;
}
.team-card:hover p {
    color:#fff;
}
*/

.team-card i{
    font-size:60px;
    color:#82ca9c;
    margin-bottom: 20px;
}
.team-card h4{
    font-size:18px;
    color:#000;
    text-transform:uppercase;
    font-weight:600;
    letter-spacing:1px;
    margin-top:12px !important;
    margin-bottom: 5px !important;
}
.team-card p{
    font-size:12px;
    color:#777777;
    font-weight:400;
    margin-bottom: 12px !important;
}
.team-wrapper2{
    margin-top:25px;
}
.profile-pic{
    border-radius: 50%;
    width:173px;
    height: 173px;
    margin-bottom: 15px;
}
.social_media_icons{
    margin-left:-15px;
    margin-top:15px;
}
.social_media_icons a {
    margin-left:15px;
    transition:.5s;
}
.social_media_icons a i{
    color:#222222;
    border:1px solid #777777;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-radius:50%;
    font-size:16px;
}
.social_media_icons a:hover i{
    color:#8a3b6a;
    border:1px solid #8a3b6a;
}

.vertical .carousel-control{
    background-image: none !important;
    color:#ddd;
    height: 50px;
    font-size:3rem;
    text-align: center;
    top:30%;
}

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
   -webkit-transition: 0.6s ease-in-out top;
   -moz-transition: 0.6s ease-in-out top;
   -ms-transition: 0.6s ease-in-out top;
   -o-transition: 0.6s ease-in-out top;
   transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
   top: 0;
}

.carousel.vertical .next {
   top: 400px;
}

.carousel.vertical .prev {
   top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
   top: 0;
}

.carousel.vertical .active.left {
   top: -400px;
}

.carousel.vertical .active.right {
   top: 400px;
}

.carousel.vertical .item {
   left: 0;
}

/* Sponsors Section */
.sponsors-col{
    height: 120px;
    display: table;
}

@media (max-width: 990px){
    .sponsors-col{
        height: 80px;
        display: table;
    }
}

.sponsors-col a {
    vertical-align: middle;
    display: table-cell;
}
.sponsors-col img {
    display: block;
    height: auto;
    margin: auto;
}

  
.sponsor-img{
    max-width: 75%;
    opacity: 0.5;
}
.sponsor-img:hover{
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
     opacity: 1;
}
.sponsor-text p{
    font-size: 1.2rem !important;
}
@media (min-width: 990px){
    .sponsor-images-row{
        border-right: 0.5px solid;
    }
}
/* Contact Section */

.contact_content{
    width: 80%;
    margin: auto;
}
.single_left_contact p{
    font-family:''titillium_weblight;
    font-size:18px;
}

.single_right_contact .contact_address span{
    font-size:18px;
    display:block;
    line-height: 30px;
}
.single_right_contact .contact_socail_bookmark{
    margin-left:-15px;
    margin-top:20px;
}
.single_right_contact .contact_socail_bookmark a {
    margin-left:15px;
    transition:.5s;
}
.single_right_contact .contact_socail_bookmark a i{
    color:#222222;
    border:1px solid #777777;
    width:40px;
    height:40px;
    line-height:40px;
    text-align:center;
    border-radius:50%;
}
.single_right_contact .contact_socail_bookmark a:hover i{
    color:#8a3b6a;
    border:1px solid #8a3b6a;
}

/*Snackbar*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}



/*For Footer Menu Section*/

.footer-menu{
    color:#000;
    border-bottom:1px solid #cfcdcd;
}
.menu-item{
    margin-bottom:20px;
}
.menu-item h5{
    font-size:16px;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}
.menu-item p{
    font-size:12px;
}
.menu-item ul li{
    font-size:13px;
    text-transform:uppercase;
    font-family: 'Roboto', sans-serif;
    margin-bottom:10px;
    font-weight: 300;
}

.menu-item .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 65%;
    margin-bottom: 0;

}
.menu-item input[type="text"]{
    color:#82ca9c;
}
.menu-item input[type="submit"]{
    display:inline-block;
    width:35%;
    background:#82ca9c;
    color:#fff;
    border:0px;
}
.menu-item input[type="submit"]:hover{
    background-color: rgba(0, 173, 62, 0.75);
}

/*For Footer Section*/
.footer{

    color:#000;
}
.footer-wrapper{
    padding:20px 0px;
    display:block;
}
.footer-brand{
    float:left;
}
.copyright{
    text-align:right;
}
.copyright p{
    font-size: 1.125rem;
    margin-bottom: 1px;
    padding: 20px 0px;
}
.copyright p i{
    color:#ff0000;
}.copyright p a{
    color:#32E10A;
}


/*scollup icon*/

.scrollup {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 10;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}
.scrollup:hover {
    background: #82ca9c;
    opacity: 1;
}
.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}


