<template>
    <div style="margin-left: 30px; margin-right: 30px; margin-top: 20px">
        <LineChart v-if="metric === 'Heart Rate'" :height="175" :chartData="chartData" :options="chartOptions" class="chart"></LineChart>
        <BarChart v-else :height="175" :chartData="chartData" :options="chartOptions" class="chart"></BarChart>
        <v-layout row wrap style="margin-bottom: 15px">
            <v-flex xs3>
            <p class="input-label">Select Time Period: </p>
            </v-flex>
            <v-flex xs8>
            <v-select
                :items="timePeriodChoices"
                v-model="timeFrame"
            ></v-select>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
import moment from 'moment'
import LineChart from './Charts/LineChart.vue'
import BarChart from './Charts/BarChart.vue'
export default {
  name: 'ChartSelector',
  props: {
      timePeriod: String,
      timePeriodChoices: Array,
      dayData: Array,
      weekData: Array,
      monthData: Array,
      chartColor: String,
      labelName: String,
      yAxisTitle: String,
      metric: String
  },
  data () {
    return {
      timeFrame: this.timePeriod
    }
  },
  computed: {
    chartOptions(){
      return{
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: this.getXTitle(),
              fontSize: 18,
            },
            gridLines: {
                display: false
            },
            ticks: {
                maxRotation: this.timeFrame === "Today" ? 90 : 0,
                minRotation: this.timeFrame === "Today" ? 90 : 0,
                maxTicksLimit: 1000
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: this.yAxisTitle,
              fontSize: 18,
            },
            ticks: {
              beginAtZero: true,
            },
            gridLines: {
                display:false
            }
          }]
        },
        legend: {
            display: false
        },
        tooltips: {
            callbacks: {
              label: function(tooltipItem) {
                      return tooltipItem.yLabel;
              }
            }
        },
        elements: { 
          point: { radius: 0 } 
        }
      }
    },
    chartData(){
      return{
          labels: this.getLabels(),
          datasets: [
              {
                  label: this.labelName,
                  backgroundColor: this.chartColor,
                  borderColor: this.chartColor,
                  data: this.getData(),
                  fill: !(this.metric === "Heart Rate"),
              }
          ]
      }
    },
  },
  components: {
    LineChart,
    BarChart
  },
  methods: {
    getData(){
      if(this.timeFrame === "Today"){
        return this.dayData;
      }
      else if(this.timeFrame === "Last 7 Days"){
        return this.weekData;
      }
      else{
        return this.monthData;
      }
    },
    getLabels(){
      let daysOfWeek = [];
      if(this.metric === "Heart Rate"){
        if(this.timeFrame === "Today"){
          const len = this.dayData.length;
          let hours = [];
          //refactor at some point lol
          const hourOptions = ["12 am", "1 am", "2 am", "3 am", "4 am", "5 am", "6 am", "7 am", "8 am", "9 am", "10 am", "11 am", "12 pm", "1 pm", "2 pm", "3 pm", "4 pm", "5 pm", "6 pm", "7 pm", "8 pm", "9 pm", "10 pm", "11 pm"];
          const numMins = moment().diff(moment().startOf('day'), 'minutes');
          const interval = len / numMins;


          for(let i = 0; i < len; i++){
            if(i % (Math.round(interval*60)) === 0){
              hours.push(hourOptions[Math.round(i/(60*interval))] ? hourOptions[Math.round(i/(60*interval))] : "");
            }
            else{
              hours.push("");
            }
          }
          return hours;
        }
        else{
          for(let i = 0; i < 42; i++){
            if(i % 6 === 0){
               const dayOfWeek =  moment().subtract(6 - (i/6), 'day').format('ddd');
               daysOfWeek.push(dayOfWeek);
            }
            else{
              daysOfWeek.push("");
            }
          }
          
          return daysOfWeek;
        }
      }
    
      else if(this.metric === "Step Count"){
        if(this.timeFrame === "Last 7 Days"){
          for(let i = 0; i < 7; i ++){
            const dayOfWeek =  moment().subtract(i, 'day').format('ddd');
            daysOfWeek.unshift(dayOfWeek);
          }
          return daysOfWeek;
        }
        else{
          for(let i = 0; i < 30; i ++){
            const dayOfWeek =  moment().subtract(i, 'day').format('D');
            daysOfWeek.unshift(dayOfWeek);
          }
          return daysOfWeek;
        }
      }
    },
    getXTitle(){
      if(this.timeFrame === "Today"){
        return "Time";
      }
      else if(this.timeFrame === "Last 7 Days"){
        return "Day of the Week"
      }
      else{
        return "Date"
      }
    }
  }
}
</script>

<style lang="scss" scoped>

h1 {
  font-weight: normal;
  font-size: 40px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
.input-label{
  line-height: 60px;
  font-size: 18px;
}
</style>